<!doctype html>
<html ng-app="app">
<head>
  <style>
  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  /* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
  </style>
</head>
<body>
  <div ui-view></div>


  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/d3-tip/index.js"></script>
  <script src="bower_components/d3-legend/d3-legend.min.js"></script>
  <script src="cubehelix.min.js"></script>
  <script src="county.js"></script>

  <script>
      var app = angular.module('app', ['ui.router']);

      app.config(function($stateProvider, $urlRouterProvider) {

  $urlRouterProvider.otherwise('/');
  //
  // Now set up the states
  $stateProvider.state('app', {
      url: '/',
      // template: '<ul ng-repeat="level in levels"><li>{{level.id}} : {{level.name}}</li></ul>',
      template: '<ul ng-repeat="region in regions.features"><li>{{region.id}} : {{region.properties}}</li></ul>',
      template: '<h4>{{sum}} datasets, min : {{extent[0]}}, max : {{extent[1]}}</h4>',
      controller: function($scope, data) {
        // $scope.levels = levels.data;
        // $scope.regions = regions.data;
        // var data = county;

        var width = 960,
            height = 800;

        var projection = d3.geo.mercator()
            .center([4, 48 ])
            .scale(3000);

        var extent = $scope.extent = d3.extent(data.features,function(d){
          return d.properties.datasets;
        });
        $scope.sum = d3.sum(data.features,function(d){
          return d.properties.datasets;
        });
        data.features.sort(function(a,b){
          return a.properties.datasets - b.properties.datasets;
        });

        var sizes = data.features.map(function(f){
          return f.properties.datasets;
        });

        var numColors = 8;
        var generator = d3.scale.cubehelix().domain([0,numColors-1]).range([
          d3.hsl(-100, 0.95, 0.32),
          d3.hsl(  80, 1.15, 0.62),
          d3.hsl( 220, 0.55, 0.32)]
        );

        var range = d3.range(numColors).map(generator);

        var quantile = d3.scale.quantile()
          .domain(sizes)
          .range(range);

        var tip = d3.tip()
          .attr('class', 'd3-tip')
          .offset([-10, 0])
          .html(function(d) {
            return '<strong>'+d.properties.name+' ('+d.properties.code+')</strong><br>Datasets: <span style="color:red">' + d.properties.datasets + '</span>';
          })

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);
        svg.call(tip);

        var path = d3.geo.path()
            .projection(projection);

        var g = svg.append("g");

        g.selectAll("path")
          .data(data.features)
        .enter()
          .append("path")
          .attr("d", path)
          .attr("fill",function(d){
            return quantile(d.properties.datasets);
            // return d3.hsl(180,0.9,0.1+0.5*(d.properties.datasets-extent[0])/(extent[1]-extent[0]))
          })
          .on('mouseover', tip.show)
          .on('mouseout', tip.hide);

          column("Nombre de datasets", quantile);


          function column(title, scale) {
            var legend = d3.legend.color()
              .labelFormat(d3.format(",.0f"))
              .cells(10)
              .scale(scale);

            var div = d3.select("body").append("div")
              .attr("class", "column");

            div.append("h4").text(title);

            var svg = div.append("svg");

            svg.append("g")
              .attr("class", "legendQuant")
              .attr("transform", "translate(20,20)");

            svg.select(".legendQuant")
              .call(legend);
          };
      },
      resolve:{
        // levels : function($http){
        //   return $http.get('https://www.data.gouv.fr/api/1/spatial/levels');
        // },
        data: function($http){
          return $http.get('https://www.data.gouv.fr/api/1/spatial/coverage/fr%2Fregion').then(function(result){
            return result.data;
          });
        }
      }
    });
  });
  </script>
</body>
</html>
