<h1>Jeux de données par département sur le site data.gouv.fr</h1>
<div class="row">
  <div id="legend" class="col-sm-1">
    <h4>{{sum}} datasets</h4>
  </div>
  <div id="map" class="col-sm-6"></div>
  <div id="datasets" class="col-sm-5">
    <h4 ng-if="catalog">
      {{catalog.total}} jeux de données -&nbsp;
      <a ng-if="catalog.previous_page" ng-click="getCatalog(catalog.previous_page);" style="cursor:pointer;">Précédent</a>
      {{(catalog.page-1)*catalog.page_size+1}}-{{catalog.page*catalog.page_size}}
      <a ng-if="catalog.next_page" ng-click="getCatalog(catalog.next_page);" style="cursor:pointer;">Suivant</a>
    </h4>
    <ul class="list-unstyled">
      <li ng-repeat="dataset in catalog.data">
        <h5><a target="_blank" ng-href="{{dataset.page}}">{{dataset.title}}</a></h5>
        <p title="{{dataset.description}}">{{dataset.description|characters:230}}</p>
        <hr ng-if="!$last" />
      </li>
    </ul>
  </div>
</div>
